parsers:
  example_parser:
    regexes:
      - 'foo\w+': 'foo.name'
      - 'bar\d+': 'bar.count'
  next_example_parser:
    regexes:
      - "\\squux": 'quux.of.the.issue'
  example_with_metric_type:
    regexes:
      - '^wu':
         name: 'bond.issue'
         type: 'counter'
      - 'tang$':
         name: 'financial.instrument'
         type: 'gauge'
      - 'cream':
         name: 'rules.it.all'
         type: 'c'
         sample_rate: '0.5'
  chef_client_log:
    regexes:
      - 'INFO:':
         name: 'sawyer.info'
         type: 'c'
         sample_rate: '0.1'
      - 'WARN:':
         name: 'sawyer.warn'
         type: 'c'
         sample_rate: '0.3'
